<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= "#{content_for?(:page_title) ? yield_content(:page_title) : current_page.data.title} | MOTI" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= favicon_tag 'favicon.png' %>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <nav>
      <div class="container">
        <%= link_to "Museum of the Born Digital", "/", class: 'logo' %>
        <% data.moti.page.sort { |a,b| a[1]["order"] <=> b[1]["order"] }.each do |id, page| %>
          <% if page[:inMenu] %>
            <%= link_to page[:title], page[:slug] %>
          <% end %>
        <% end %>
      </div>
    </nav>

    <%= yield %>

    <footer>
      <div class="container">
        <%= link_to "Home", "/", class: 'logo' %>
        <% data.moti.page.sort { |a,b| a[1]["order"] <=> b[1]["order"] }.each do |id, page| %>
          &nbsp;
          <%= link_to page[:title], page[:slug] %>
        <% end %>

        &nbsp;
        <a>Facebook</a>
        &nbsp;
        <a>Twitter</a>

      </div>
    </footer>
  </body>
</html>
